# List Comprehension Map, Filter and Zip

In [68]:
"""
- Map calculates when it is needed
    - It would have to be turned into a list in order to have calculated data
- Filter function retains the values that match your lambda expression
- Zip function allows you to zip two or more iterables
- There are list comprehensions but also dictionary and set comprehensions
"""

'\n- Map calculates when it is needed\n    - It would have to be turned into a list in order to have calculated data\n- Filter function retains the values that match your lambda expression\n- Zip function allows you to zip two or more iterables\n- There are list comprehensions but also dictionary and set comprehensions\n'

In [46]:
nums = list(range(1 ,11))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
print([n*n for n in nums])
print(list(map(lambda n: n*n, nums)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
[n for n in nums if n%2 == 0]

[2, 4, 6, 8, 10]

In [53]:
[(letter, num) for letter in 'abcd' for num in range(4)]

[('a', 0),
 ('a', 1),
 ('a', 2),
 ('a', 3),
 ('b', 0),
 ('b', 1),
 ('b', 2),
 ('b', 3),
 ('c', 0),
 ('c', 1),
 ('c', 2),
 ('c', 3),
 ('d', 0),
 ('d', 1),
 ('d', 2),
 ('d', 3)]

In [62]:
names = ['Bruce', 'Clark', 'Peter', 'Logan', 'Wade']
heros = ['Batman', 'Superman', 'Spiderman', 'Wolverine', 'Deadpool']
print(list(zip(names, heros)))

{name: hero for name, hero in zip(names, heros) if name is not 'Peter'} # because str is not mutable

[('Bruce', 'Batman'), ('Clark', 'Superman'), ('Peter', 'Spiderman'), ('Logan', 'Wolverine'), ('Wade', 'Deadpool')]

{'Bruce': 'Batman',
 'Clark': 'Superman',
 'Logan': 'Wolverine',
 'Wade': 'Deadpool'}

In [69]:
nums = [1,2,3,4,4,4,4,4,4,1,1,1,1,8,8,99999,324]
print(set(nums))

print(set(n+3 for n in nums))

{1, 2, 3, 4, 324, 8, 99999}
{100002, 4, 5, 6, 7, 327, 11}

In [72]:
(n*n for n in nums)

In [82]:
# Find all numbers from 1-100 that are divisible by 7

[n for n in range(0, 101) if n%7==0]

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [83]:
# Find all of the numbers from 1-1000 that have a 3 in them
[n for n in range(0,101) if '3' in str(n)]

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

In [86]:
# Count the number of spaces in a string
sentence = 'my senten ce'
sum([1 for n in sentence if n.isspace()])

2

In [88]:
# Find all of the words in a string that are less than 4 letters
sentence = 'Find all of the words in a string that are less than 4 letters'
set(word for word in sentence.split() if len(word) < 4)

{'4', 'a', 'all', 'are', 'in', 'of', 'the'}

In [1]:
# Use a dictionary comprehension to count the length of each word in a sentence.
sentence = 'Find Find Find all of the words in a string that are less than 4 letters'

#print({word: length for word,length in zip(sentence.split(),[len(temp) for temp in sentence.split() ])})
print({word:len(word) for word in sentence.split()})

{'Find': 4, 'all': 3, 'of': 2, 'the': 3, 'words': 5, 'in': 2, 'a': 1, 'string': 6, 'that': 4, 'are': 3, 'less': 4, 'than': 4, '4': 1, 'letters': 7}

In [2]:
# Use a nested list comprehension to find all of the numbers from 
# 1-100 that are divisible by any single digit besides 1 (2-9)
{n for n in range(1, 11) for i in range(2,10) if n % i==0}

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [100]:
# For all the numbers 1-1000, use a nested list/dictionary
# comprehension to find the highest single digit any of the numbers is divisible by

#max([number for number in range(1, 101) for i in range(1,10) if number % i == 0])

max([digit for digit in range(1,10) for number in range(1, 101) if number%digit==0])

9

In [1]:
m = [[0,2],[1,0]]
[m[i][i] for i in range(0, len(m))]
[m[i][~i] for i in range(0, len(m))]

[2, 1]

In [17]:
def fact(n):
    return 1 if n < 2 else n * fact(n-1)

fact(6)

720

In [18]:
results = list(map(fact, range(10)))
results

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [19]:
l1 = [1, 2, 3, 4]
l2 = [10, 20, 30]
l3 = [100, 200, 300, 400, 500]

results = list(map(lambda x, y, z: x+y+z, l1, l2, l3))
results

[111, 222, 333]

In [15]:
list(filter(lambda x: x % 3 == 0, range(25)))

[0, 3, 6, 9, 12, 15, 18, 21, 24]

In [20]:
list(filter(None, [1, 0, 4, 8, 'a', '', None, True, False]))

[1, 4, 8, 'a', True]

In [21]:
l1 = [1, 2, 3, 4]
l2 = [10, 20, 30]
l3 = 'python'
list(zip(l1, l2, l3))

[(1, 10, 'p'), (2, 20, 'y'), (3, 30, 't')]

In [22]:
l = range(10)
list(map(fact, l))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [24]:
results = [fact(n) for n in range(10)]
results

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [37]:
list(filter(lambda x: x%2==0, map(lambda x, y: x+y, l1, l2)))

[22, 338]

In [38]:
[x+y for x, y in zip(l1,l2) if (x+y)%2 == 0 ]

[22, 338]

In [43]:
my_list = [1, 2, 3, 4, 5, 'string']

copy = [n for n in my_list if type(n) is not str]
copy

[1, 2, 3, 4, 5]